*{
   box-sizing: border-box;
}
header{    
    height: 110px;
    width: 100%;
    background-color: #182C61;
    color:#ecf0f1;        
    text-align: center;
}
nav{  
    margin-bottom: 0px;
}
.container{
    min-width: 500px;
    padding: 50px;
}

footer{
    height: 150px;
    width: 100%;
    background-color: #2980b9;
    color:#ecf0f1;   
    text-align: center;
    padding-top: 60px;    
}